# Конфіденційні дані
.env
# 🧠 Кеші Python
__pycache__/

# 🗃️ Бази даних
*.sqlite3

# 📁 Медіафайли користувачів
/media/

# ⚙️ Віртуальне середовище
env/
.venv/

# 🧠 Логи
*.log

# ⚠️ Налаштування IDE (PyCharm)
.idea/
*.iml

# 🗂️ Системні файли Windows
Thumbs.db